---
layout: default
title: Publications / Presentations
---

<h1>{{ page.title }}</h1>

<h2>Publications</h2>

<ul>
  {% for item in site.data.publications %}
  <li>
    <a href="{{ item.paperurl }}">{{ item.name }}</a> <br />
    {{ item.authors }} <br />
    {{ item.conference }} <br />
    {% if item.award %}<span style="color:red">{{ item.award }}</span><br />{% endif %}
    {% if item.bibentry %}(<a href="{{ item.bibentry }}">bibentry</a>) {% endif %}{% if item.abstract %}(<a href="{{ item.abstract }}">abstract</a>) {% endif %}{% if item.bibentry or item.abstract %}<br />{% endif %}
  </li><br />
  {% endfor %}
</ul>

<h2>Presentations</h2>

<ul>
  {% for item in site.data.presentations %}
  <li>
    {{ item.presenter }}, <b>{{ item.title }}</b>{% if item.slides %}[<a href="{{ item.slides }}">slides</a>]{% endif %} <br />
    {% if item.conference %} <a href="{{ item.conferenceurl }}">{{ item.conference }}</a> {{ item.conferencedate }}<br />{% endif %}
  </li> <br />
  {% endfor}
</ul>
