<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1><a href="/">Z3 String Solver</a></h1>
    <nav>
      <ul>
        <li>Getting Started</li>
        <li>Documentation</li>
        <li>Benchmarks</li>
        <li>Publications/Presentations</li>
        <li>People</li>
        <li>Related Tools</li>
        <li>License</li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      &copy; Copyright 2013-2020, Z3-str Team.
    </footer>
  </body>
</html>
